*{
    box-sizing: border-box;
}

body{
  list-style: none;
  background-color: rgb(192, 189, 189);
}

.aDestacado{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(226, 226, 226);
  padding: 2%
}

.container{
  background-color: rgb(241, 239, 239);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#cabecera,#c_de{
  display: flex;
}

#c_de{
  margin-left: 160px;
}

img{
  width: 300px;
  height: 200px;
  background-color: lightgray;
  border:1px gray solid;
  border-radius: 6px;
}
.articulos{
    width: 330px;
  }