*{
    box-sizing: border-box;
}

.textoSup{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 30%;
    flex-direction: column;
    align-items: center;
}

.candado{
    color: rgb(216, 216, 216);
    font-size: 36px;
    margin-left: 22%;
    margin-bottom: 7%;
    padding-right: 1px;
}

.login{
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    
}
.inputs{
    padding: 1em;
    background-color: rgb(207, 207, 207);
    width: 420px;
}

.form{
    margin: 1em;
    padding: 1em;
    background-color: rgb(177, 177, 177);
}

.form h2{
    text-align: center;
    color: rgb(39, 147, 219);
}

.btn-login{
    width: 100%;
    background-color:rgba(46, 224, 195, 0.747);
    color: black;
}
.btn-submit{
    text-align: center;
}

.login-card{
    padding: 1rem;
    width: 450px;
}

.login-description{
    display: flex;
    align-items: center;
}

.loginwText{
    text-align: center;
}

.input-form{
    display: flex;
    align-items: center;    
}
